.login-container{
    height: 100vh;
    margin-top: 80px;
    width: 30%;
}
.login-container .text{
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 600;
}
.login-container form{
    background: #656e79;
    padding: 40px;
    border-radius: 20px;
}
.form-label{
    color: #fff;
}
.login{
    width: 100%;
    padding: 6px 14px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    background: #2d3e50;
    color: #fff;
    margin-top: 20px;
}
.text-error{
    color: rgb(112, 9, 9);
}
.log-out{
    border: none;
    background: #2d3e50;
    color: #fff;
    border-radius: 10px;
    padding: 6px 12px;
    font-size: 16px;
    margin-right: 15px;
}
.log-text{
    font-size: 14px;
    color: #fff;
    margin: 0;
}
.icon{
    border: none;
    border-radius: 50%;
    text-align: center;
    background: #111;
    color: white;
    margin: 0 10px;
    padding-bottom: 5px;
    transition: .5s;
}
.icon:hover{
    background: #fff;
    color: #111;
}
@media only screen and (max-width: 600px){
    .login-container{
        width: 90%;
        margin-top: 60px;
        margin-bottom: 40px;
    }
}