.subscribe-container{
    text-align: center;
    background-image: url(../../images/sub.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 0;
    border-radius: 20px;
    margin: 80px 0;
}
.stay{
    color: #fff;
    font-size: 32px;
    font-weight: 600;
}
.for{
    color: #a64dffc0;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 30px;
}
.sub-email{
    width: 40%;
    padding: 10px 15px;
    border-top-left-radius: 10px;
}
.sub-btn{
    border: none;
    padding: 10px 35px;
    font-size: 17px;
    font-weight: 600;
    background: #a64dff;
    color: #fff;
    border-top-right-radius: 20px;
}