.info{
    border: 1px solid #2d3e50;
    border-radius: 10px;
    padding: 20px;
    margin-right: 10px;
}

.name {
    font-size: 47px;
    font-weight: 700;
    line-height: 48px;
    color: #2d3e50;
    margin-bottom: 20px;
}

.info p{
    margin: 0;
    text-align: center;
}
.info .cor{
    font-size: 16px;
    font-weight: 500;
    color: #2d3e50;
}
.over-text{
    margin-top: 40px;
}
.details{
    font-size: 18px;
    margin-bottom: 40px;
}
.service_details_img{
    margin-top: 60px;
    border-radius: 20px;
    margin-left: 40px;
}
.btn-detail{
    border: none;
    text-align: left;
    margin: 0;
    margin-top: 20px;
}
.btn-detail .btn-enroll-detail{
    background: #2d3e50;
    color: #fff;
    font-size: 18px;
    padding: 8px 20px;
    border-radius: 10px;
}

.review_btn{
    background: #5b03b3;
    border: 0;
    color: #fff;
    font-size: 18px;
    padding: 10px 24px;
    border-radius: 10px;
    transition: .5s;
}
@media only screen and (max-width: 600px){
    .img{
        margin-top: 0;
        margin-left: 0;
    }
    .btn-detail{
        margin-top: 30px !important;
    }
}

